<h1>Coisas estranhas do Deus {{name}} sua pica é {{pica}}</h1>
<div class="pt-9 m-3 text-center">
    <label for="msg">Insira uma mensagem</label><br>
    <input type="text" id="msg" name="msg"/><br>
    <button type="submit" id="btn">Clica aqui</button>
</div>



<script src="/socket.io/socket.io.js"></script>
<script>
    
</script>
